<h1> New! </h1>
<h3>Personal Details</h3>
<%= form_with model: @user do |form| %> 
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <%= @user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
      <%= @user.errors.full_messages_for(:last_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :dob %><br>
      <%= form.date_field :dob, class: 'form-control' %>
      <%= @user.errors.full_messages_for(:dob).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
        <%= form.radio_button :gender, 'male' %> 
        <%= form.label :gender, 'male', :value => 'male' %>
        <%= form.radio_button :gender, 'female' %>
        <%= form.label :gender, 'female', :value => 'female' %>
        <%= @user.errors.full_messages_for(:gender).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    </br>
    <div>
      <%= form.label :address %><br>
      <%= form.text_field :address %>
      <%= @user.errors.full_messages_for(:address).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :pin %><br>
      <%= form.text_field :pin %>
      <%= @user.errors.full_messages_for(:pin).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :contact_no %><br>
      <%= form.text_field :contact_no %>
      <%= @user.errors.full_messages_for(:contact_no).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
-----------------------------------------------------------------------------------------------------------
<h3>Professional Details</h3>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
      <%= @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
    <%= form.label :email_confirmation %><br>
    <%= form.text_field :email_confirmation %>
    <%= @user.errors.full_messages_for(:email_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </br>
    <div>
      <%= form.label :company_name %><br>
      <%= form.text_field :company_name %>
      <%= @user.errors.full_messages_for(:company_name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :joining_date %><br>
      <%= form.date_field :joining_date, class: 'form-control' %>
      <%= @user.errors.full_messages_for(:joining_date).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.label :job_location %><br>
      <%= form.text_field :job_location %>
      <%= @user.errors.full_messages_for(:job_location).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    </br>
    <div>
      <%= form.submit %>
    </div>

<% end %>