<h1><%= @user.name =%></h1>
Last Name:
<%= @user.last_name =%>
<br></br>
Date of birth: 
<%=@user.dob =%>
<br></br>
Gender:
<%= @user.gender =%>
<br></br>
Postal-Code:
<%= @user.pin =%>
<br></br>
Contact number:
<%= @user.contact_no =%>
<br></br>
Email:
<%= @user.email =%>
<br></br>
company name:
<%= @user.company_name =%>
<br></br>
joining date:
<%= @user.joining_date =%>
<br></br>
job_location:
<%= @user.job_location =%>