<h1><%= @user.name =%></h1>
Last Name:
<%= @user.last_name =%>
<br></br>
Date of birth: 
<%=@user.dob =%>
<br></br>
Gender:
<%= @user.gender =%>
<br></br>
Postal-Code:
<%= @user.pin =%>
<br></br>
Contact number:
<%= @user.contact_no =%>